

nav ul {
    padding: 0;
    display: inline;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 15px;
}

nav #log-menu {
    float: right;
    margin-top: 0px;
}

.title {
    text-align: center;
}

.error {
    color:red;
}

/*
entry_title{


}

entry_body{


}
*/