<!doctype html>

<html>
    <head>
        <link href="../static/main.css" type="text/css" rel="stylesheet">
        <title>{{title}}</title>
    </head>

    <body>
        <nav>
            <ul id="log-menu">
                <li class="log-menu"><a href="/login">Login</a></li>
                <li class="log-menu"><a href="/logout">Logout</a></li>
            </ul>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">All Posts</a></li>
                <li><a href="/newpost">New Post</a></li>
            </ul>
            
        </nav>
        <br>
        <br>
        <br>

        {% with messages = get_flashed_messages() %}
            <ul>
            {% for messages in messages %}
                <li>{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>


</html>