{% extends "base.html" %}


{% block content %}


    <h1 class="title">Build a Blog</h1>


    <!--This bit displays the blog table-->
    {% if blogs|length == 0 %}
        <p>No entries yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li> <!--anchor tag added to link to each individual blog entry-->
                <h3><a href="/blog-entry?id={{blog.id}}">{{blog.title}}</a></h3>
                <p>{{blog.body}}</p>
            </li>
            <hr>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}
