{% extends "base.html" %}

{% block content %}
<!--This is the blog submission form-->

<h1>Add a new post</h1>
    <form action="/newpost" method='post'>
        <h3>New Blog Entry</h3>
        <br>
        <label class="entry_title">
            Entry Title:
            <br>
            <input type="text" name="blog-title" />
            <br>
            <span class="error">{{title_error}}</span>
        </label>
        <br>
        <br>
        <br>

        <label class="entry_body">
            Entry Body:
            <br>
            <textarea name="blog-body"></textarea>
            <br>
            <span class="error">{{body_error}}</span>
        </label>
        <br>
            <input type="submit" value="Post" />
    </form>

    <br>

{% endblock %}